body{
    background-color: #282828;
    color: white;
}

img{
    width: 100%;
}

.searchbarnfilter{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin: 0 10px;
}

.country-infos{
    margin: 40px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    
    
}

.flagninfo{
    background-color: #404040;
    border-radius: 10px;
}

.info{
    padding-left: 10px;
}

.searchbar{
    background-color: #c4c4c4;
    border: none;
    width: 350px;
    height: 30px;
    padding-left: 10px;
    border-radius: 15px;

}