body {
    background-color: #282828;
    color: white;
}
.bigFlag {
    
    margin: 2rem 1rem;
    border: 2px solid #404040;
    border-radius: .5rem;
    img {
        width: 100%;
    }
}
.countryTitle {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
.countryInfo {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
    &-Left {
        width: 35rem;
    }
    &-Right {
        width: 35rem;
    }
    &-nn {
        display: flex;
    }
    &-pop {
        display: flex;
    }
    &-reg {
        display: flex;
    }
    &-sreg {
        display: flex;
    }
    &-cap {
        display: flex;
    }
    &-tld {
        display: flex;
    }
    &-cur {
        display: flex;
    }
    &-lan {
        display: flex
    }
}
.bordercountry {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: .5rem;
    &-container {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    button {
        padding: .8rem 4rem;
    }
}
.goback {
    display: flex;
    justify-content: center;
    margin: 1rem;
    button {
        font-family: 'Koulen', cursive;
        padding: .8rem 4rem;
        font-size: 28px;
    }
}
@media  (max-width:426px){
    .countryInfo{
        flex-direction: column;
        max-width: 100%;
        margin: .5rem;
        &-Left {
           max-width: 100%;
        }
        &-Right {
            max-width: 100%;
        }
    }
    .bordercountry-container {
        flex-direction: column;
    }
}