:root {
  --bg-color: #282828;
  --font-color: #fff;
  --header-bg-color: #404040;
  --footer-bg-color: #1D1D1D;
  --footer-font-color: #c2c2c2;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin: 0;
  background: var(--bg-color);
  color: var(--font-color);
}

h1, h2, h3, h4, h5, h6, button {
  font-family: "Koulen", cursive;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

p {
  margin: 0;
}

a {
  color: var(--font-color);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header {
  background: var(--header-bg-color);
  padding: 16px;
  display: flex;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
}
.header ul li {
  margin: 0 16px;
}
.header ul li a {
  padding: 4px 8px;
  background: transparent;
  font-size: 1.1rem;
}
.header ul li a:hover {
  background: var(--font-color);
  color: var(--header-bg-color);
}
.header .toggle {
  position: absolute;
  right: 16px;
  display: none;
  flex-flow: column wrap;
  width: 24px;
  gap: 4px;
  top: 48px;
}
.header .toggle-bar {
  background: var(--font-color);
  width: 100%;
  height: 4px;
  border-radius: 4px;
}

footer {
  background: var(--footer-bg-color);
}
footer p {
  text-align: center;
  padding: 48px 24px;
  font-size: 0.85rem;
  color: var(--footer-font-color);
}

@media screen and (max-width: 426px) {
  .header {
    flex-direction: column;
  }
  .header ul {
    justify-content: center;
    flex-wrap: wrap;
    display: none;
    padding-top: 16px;
  }
  .header ul li {
    width: 100%;
    text-align: center;
    padding: 16px 0;
    border-top: 1px solid white;
  }
  .header ul li a {
    font-size: 1.5rem;
  }
  .header ul.expanded {
    display: flex;
  }
  .header .toggle {
    display: flex;
  }
}
.hero {
  background: url("images/hero-image.jpeg");
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}
.hero .hero-description {
  margin-left: 10vw;
  color: var(--bg-color);
}
.hero .hero-description button {
  background-color: var(--bg-color);
  color: var(--font-color);
  padding: 4px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 4px 4px 4px lightgray;
}
.hero .hero-description button:hover {
  background: var(--header-bg-color);
  box-shadow: 1px 1px 4px lightgray;
}

.authors {
  padding: 32px 0;
}
.authors h2 {
  text-align: center;
  padding-bottom: 24px;
}
.authors .authors-container {
  display: flex;
  justify-content: center;
  gap: 32px;
}
.authors .authors-container img {
  width: 150px;
  border-radius: 50%;
}
.authors .authors-container h3 {
  text-align: center;
}

@media screen and (max-width: 426px) {
  .hero {
    justify-content: center;
    background-position: bottom;
  }
  .hero .hero-description {
    margin: 0;
    text-align: center;
  }

  .authors .authors-container {
    flex-direction: column;
    align-items: center;
  }
}
body {
  background-color: #282828;
  color: white;
}

.bigFlag {
  margin: 2rem 1rem;
  border: 2px solid #404040;
  border-radius: 0.5rem;
}
.bigFlag img {
  width: 100%;
}

.countryTitle {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.countryInfo {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
}
.countryInfo h3 {
  padding: 0.2rem;
}
.countryInfo-Left {
  width: 35rem;
}
.countryInfo-Right {
  width: 35rem;
}
.countryInfo-nn {
  display: flex;
}
.countryInfo-pop {
  display: flex;
}
.countryInfo-reg {
  display: flex;
}
.countryInfo-sreg {
  display: flex;
}
.countryInfo-cap {
  display: flex;
}
.countryInfo-tld {
  display: flex;
}
.countryInfo-cur {
  display: flex;
}
.countryInfo-lan {
  display: flex;
}

.bordercountry {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 0.5rem;
}
.bordercountry-container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.bordercountry button {
  padding: 0.8rem 4rem;
}

.goback {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
.goback button {
  font-family: "Koulen", cursive;
  padding: 0.8rem 4rem;
  font-size: 28px;
}

@media (max-width: 426px) {
  .countryInfo {
    flex-direction: column;
    max-width: 100%;
    margin: 0.5rem;
  }
  .countryInfo-Left {
    max-width: 100%;
  }
  .countryInfo-Right {
    max-width: 100%;
  }

  .bordercountry-container {
    flex-direction: column;
  }
}
body {
  background-color: #282828;
  color: white;
}

.flags {
  width: 100%;
  height: 50%;
}

.searchbarnfilter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 10px;
}

.country-infos {
  margin: 40px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.country-info {
  display: flex;
  flex-direction: row;
}

.country-info-p {
  align-self: center;
  padding-left: 10px;
  font-style: "Koulen", cursive;
}

.flagninfo {
  background-color: #404040;
  border-radius: 10px;
  width: 20%;
  margin-top: 20px;
}
.flagninfo h1 {
  margin-top: 3px;
  font-size: 2rem;
  line-height: 1;
}

.info {
  padding-left: 10px;
}

.searchbar {
  background-color: #c4c4c4;
  border: none;
  width: 350px;
  height: 30px;
  padding-left: 10px;
  border-radius: 15px;
  outline: none;
}

.filter {
  border-radius: 15px;
  background-color: #c4c4c4;
  padding: 6px 8px;
  outline: none;
}

@media screen and (max-width: 426px) {
  .searchbarnfilter {
    flex-direction: column;
    gap: 15px;
  }

  .searchbar {
    width: 80%;
    align-self: center;
  }

  .filter {
    align-self: center;
  }

  .country-infos {
    flex-direction: column;
    gap: 20px;
  }

  .flagninfo {
    width: 85%;
    align-self: center;
    margin: 0;
  }
}/*# sourceMappingURL=index.css.map */